/*
! tailwindcss v3.3.5 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: Kumbh Sans, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.container {
  width: 100%;
}

@media (min-width: 1290px) {
  .container {
    max-width: 1290px;
  }
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.right-2 {
  right: 0.5rem;
}

.right-5 {
  right: 1.25rem;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-5 {
  top: 1.25rem;
}

.z-50 {
  z-index: 50;
}

.m-auto {
  margin: auto;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-32 {
  margin-bottom: 8rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-\[32px\] {
  margin-bottom: 32px;
}

.mb-\[34px\] {
  margin-bottom: 34px;
}

.mb-\[42px\] {
  margin-bottom: 42px;
}

.me-0 {
  margin-inline-end: 0px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-8 {
  height: 2rem;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[324px\] {
  height: 324px;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-8 {
  width: 2rem;
}

.w-\[144px\] {
  width: 144px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[50px\] {
  width: 50px;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-\[502px\] {
  max-width: 502px;
}

.max-w-\[560px\] {
  max-width: 560px;
}

.max-w-\[630px\] {
  max-width: 630px;
}

.max-w-\[850px\] {
  max-width: 850px;
}

.table-auto {
  table-layout: auto;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.list-disc {
  list-style-type: disc;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[38px\] {
  gap: 38px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[46px\] {
  gap: 46px;
}

.gap-\[50px\] {
  gap: 50px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-bl-none {
  border-bottom-left-radius: 0px;
}

.rounded-br-none {
  border-bottom-right-radius: 0px;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-x {
  border-left-width: 1px;
  border-right-width: 1px;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#1472FF29\] {
  border-color: #1472ff29;
}

.border-b-100 {
  --tw-border-opacity: 1;
  border-color: rgb(81 90 103 / var(--tw-border-opacity));
}

.border-b-300 {
  --tw-border-opacity: 1;
  border-color: rgb(54 60 69 / var(--tw-border-opacity));
}

.border-b-700 {
  --tw-border-opacity: 1;
  border-color: rgb(27 30 34 / var(--tw-border-opacity));
}

.border-guide-border {
  border-color: rgba(152, 161, 174, 0.08);
}

.border-inherit {
  border-color: inherit;
}

.border-input-brdr {
  --tw-border-opacity: 1;
  border-color: rgb(35 41 48 / var(--tw-border-opacity));
}

.border-transparent {
  border-color: transparent;
}

.border-w-100 {
  --tw-border-opacity: 1;
  border-color: rgb(152 161 174 / var(--tw-border-opacity));
}

.border-opacity-\[8\%\] {
  --tw-border-opacity: 8%;
}

.bg-b-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(27 30 34 / var(--tw-bg-opacity));
}

.bg-b-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(18 20 23 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-body {
  --tw-bg-opacity: 1;
  background-color: rgb(9 10 11 / var(--tw-bg-opacity));
}

.bg-btn-bg {
  background-color: rgba(20, 114, 255, 1);
}

.bg-chat-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(19 41 71 / var(--tw-bg-opacity));
}

.bg-chat-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(28 35 43 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-w-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(232 234 237 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[url\(\'\.\.\/img\/dreamteamdynamicsbg\.png\'\)\] {
  background-image: url("../img/dreamteamdynamicsbg.png");
}

.bg-\[url\(\'\.\.\/img\/exploreourblogsbg\.png\'\)\] {
  background-image: url("../img/exploreourblogsbg.png");
}

.bg-\[url\(\'\.\.\/img\/featurseherobg\.jpg\'\)\] {
  background-image: url("../img/featurseherobg.jpg");
}

.bg-\[url\(\'\.\.\/img\/footer-bg\.jpg\'\)\] {
  background-image: url("../img/footer-bg.jpg");
}

.bg-\[url\(\'\.\.\/img\/guidingprinciplesbg\.png\'\)\] {
  background-image: url("../img/guidingprinciplesbg.png");
}

.bg-\[url\(\'\.\.\/img\/loginanduserbg\.jpg\'\)\] {
  background-image: url("../img/loginanduserbg.jpg");
}

.bg-\[url\(\'\.\.\/img\/pricingherobg\.jpg\'\)\] {
  background-image: url("../img/pricingherobg.jpg");
}

.bg-api-card {
  background-image: linear-gradient(
    359.79deg,
    rgba(152, 161, 174, 0) 6.49%,
    rgba(20, 114, 255, 0.08) 104.86%
  );
}

.bg-blog-card {
  background-image: linear-gradient(
    359.81deg,
    rgba(152, 161, 174, 0) -2.5%,
    rgba(20, 114, 255, 0.08) 106.62%
  );
}

.bg-blog-card-tag {
  background-image: linear-gradient(
    180deg,
    rgba(152, 161, 174, 0.08) 0%,
    rgba(152, 161, 174, 0.08) 0.01%,
    rgba(20, 114, 255, 0) 100%
  );
}

.bg-blog-tag {
  background-image: linear-gradient(
    180deg,
    rgba(152, 161, 174, 0.08) 0%,
    rgba(152, 161, 174, 0.08) 0.01%,
    rgba(20, 114, 255, 0) 100%
  );
}

.bg-btn-bg {
  background-image: linear-gradient(
    103.44deg,
    rgb(20, 114, 255) -4%,
    rgb(71, 169, 255) 69.05%,
    rgb(173, 195, 255) 142.11%,
    rgb(255, 173, 201) 215.17%,
    rgb(255, 71, 107) 288.22%
  );
}

.bg-effect {
  background-image: linear-gradient(
    180deg,
    rgba(152, 161, 174, 0) -2.2%,
    rgba(20, 114, 255, 0.04) 102.2%
  );
}

.bg-faq-card-item {
  background-image: linear-gradient(
    359.81deg,
    rgba(152, 161, 174, 0) -2.5%,
    rgba(20, 114, 255, 0.08) 106.62%
  );
}

.bg-feature-card {
  background-image: linear-gradient(
    180deg,
    rgba(20, 114, 255, 0.04) -2.2%,
    rgba(152, 161, 174, 0) 102.2%
  );
}

.bg-guide-card {
  background-image: linear-gradient(
    180deg,
    rgba(152, 161, 174, 0) -2.2%,
    rgba(20, 114, 255, 0.04) 102.2%
  );
}

.bg-hero-bg {
  background-image: url("../img/hero-bg.jpg");
}

.bg-home-card {
  background-image: linear-gradient(
    359.85deg,
    rgba(152, 161, 174, 0) 4.78%,
    rgba(20, 114, 255, 0.08) 104.52%
  );
}

.bg-home-card-bg {
  background-image: linear-gradient(180deg, #161e28 0%, #0c1117 100%);
}

.bg-knowledge {
  background-image: linear-gradient(
    180deg,
    rgba(20, 114, 255, 0.04) -2.2%,
    rgba(152, 161, 174, 0) 102.2%
  );
}

.bg-trust-card {
  background-image: linear-gradient(
    359.83deg,
    rgba(152, 161, 174, 0) 8.02%,
    rgba(20, 114, 255, 0.08) 129.53%
  );
}

.bg-trusted-bg {
  background-image: url("../img/trust-bg.jpg");
}

.bg-video {
  background-image: linear-gradient(
    180deg,
    rgba(20, 114, 255, 0.04) -2.2%,
    rgba(152, 161, 174, 0) 102.2%
  );
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity)) /* #2563eb */;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-1 {
  padding: 0.25rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-12 {
  padding-top: 3rem /* 48px */;
  padding-bottom: 3rem /* 48px */;
}

.py-16 {
  padding-top: 4rem /* 64px */;
  padding-bottom: 4rem /* 64px */;
}
.pb-12 {
  padding-bottom: 3rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-32 {
  padding-bottom: 8rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-\[96px\] {
  padding-bottom: 96px;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-16 {
  padding-right: 4rem;
}

.pr-28 {
  padding-right: 7rem;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-52 {
  padding-top: 13rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[152px\] {
  padding-top: 152px;
}

.pt-\[176px\] {
  padding-top: 176px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 32px;
}

.text-4xl {
  font-size: 40px;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 64px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.leading-\[42px\] {
  line-height: 42px;
}

.leading-\[64px\] {
  line-height: 64px;
}

.leading-tight {
  line-height: 1.25;
}

.text-\[\#47a9ff\] {
  --tw-text-opacity: 1;
  color: rgb(71 169 255 / var(--tw-text-opacity));
}

.text-b-100 {
  --tw-text-opacity: 1;
  color: rgb(81 90 103 / var(--tw-text-opacity));
}

.text-b-150 {
  --tw-text-opacity: 1;
  color: rgb(71 169 255 / var(--tw-text-opacity));
}

.text-b-800 {
  --tw-text-opacity: 1;
  color: rgb(18 20 23 / var(--tw-text-opacity));
}

.text-w-100 {
  --tw-text-opacity: 1;
  color: rgb(152 161 174 / var(--tw-text-opacity));
}

.text-w-300 {
  --tw-text-opacity: 1;
  color: rgb(175 182 192 / var(--tw-text-opacity));
}

.text-w-400 {
  --tw-text-opacity: 1;
  color: rgb(186 192 201 / var(--tw-text-opacity));
}

.text-w-50 {
  --tw-text-opacity: 1;
  color: rgb(141 151 165 / var(--tw-text-opacity));
}

.text-w-700 {
  --tw-text-opacity: 1;
  color: rgb(221 224 228 / var(--tw-text-opacity));
}

.text-w-800 {
  --tw-text-opacity: 1;
  color: rgb(232 234 237 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

@media (min-width: 768px) {
  .md\:container {
    width: 100%;
  }

  @media (min-width: 1290px) {
    .md\:container {
      max-width: 1290px;
    }
  }
}

.placeholder\:text-b-100::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(81 90 103 / var(--tw-text-opacity));
}

.placeholder\:text-b-100::placeholder {
  --tw-text-opacity: 1;
  color: rgb(81 90 103 / var(--tw-text-opacity));
}

.hover\:bg-transparent:hover {
  background-color: transparent;
}

.hover\:bg-w-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(232 234 237 / var(--tw-bg-opacity));
}

.hover\:bg-api-card:hover {
  background-image: linear-gradient(
    359.79deg,
    rgba(152, 161, 174, 0) 6.49%,
    rgba(20, 114, 255, 0.08) 104.86%
  );
}

.hover\:text-b-150:hover {
  --tw-text-opacity: 1;
  color: rgb(71 169 255 / var(--tw-text-opacity));
}

.hover\:text-b-800:hover {
  --tw-text-opacity: 1;
  color: rgb(18 20 23 / var(--tw-text-opacity));
}

.hover\:text-w-800:hover {
  --tw-text-opacity: 1;
  color: rgb(232 234 237 / var(--tw-text-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:brightness-105:hover {
  --tw-brightness: brightness(1.05);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.hover\:brightness-110:hover {
  --tw-brightness: brightness(1.1);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus-visible\:outline-none:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 640px) {
  .sm\:inline {
    display: inline;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:max-w-\[216px\] {
    max-width: 216px;
  }

  .sm\:max-w-\[232px\] {
    max-width: 232px;
  }

  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:break-normal {
    overflow-wrap: normal;
    word-break: normal;
  }

  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:pr-36 {
    padding-right: 9rem;
  }

  .sm\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 768px) {
  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .md\:mt-\[87px\] {
    margin-top: 87px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:gap-\[126px\] {
    gap: 126px;
  }

  .md\:gap-\[30px\] {
    gap: 30px;
  }

  .md\:gap-\[60px\] {
    gap: 60px;
  }

  .md\:gap-\[76px\] {
    gap: 76px;
  }

  .md\:p-6 {
    padding: 1.5rem;
  }

  .md\:p-8 {
    padding: 2rem;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:pb-8 {
    padding-bottom: 2rem;
  }

  .md\:pr-36 {
    padding-right: 9rem;
  }

  .md\:ps-8 {
    padding-inline-start: 2rem;
  }

  .md\:pt-8 {
    padding-top: 2rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:leading-\[64px\] {
    line-height: 64px;
  }
}

@media (min-width: 1024px) {
  .lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:me-8 {
    margin-inline-end: 2rem;
  }

  .lg\:mt-12 {
    margin-top: 3rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-\[610px\] {
    width: 610px;
  }

  .lg\:w-\[850px\] {
    width: 850px;
  }

  .lg\:max-w-\[474px\] {
    max-width: 474px;
  }

  .lg\:max-w-\[724px\] {
    max-width: 724px;
  }

  .lg\:max-w-\[850px\] {
    max-width: 850px;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    .lg\:lg\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:gap-\[145px\] {
    gap: 145px;
  }

  .lg\:gap-\[30px\] {
    gap: 30px;
  }

  .lg\:gap-\[88px\] {
    gap: 88px;
  }

  .lg\:p-8 {
    padding: 2rem;
  }

  .lg\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:px-28 {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .lg\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pr-36 {
    padding-right: 9rem;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-8xl {
    font-size: 6rem;
    line-height: 1;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .xl\:mt-\[32px\] {
    margin-top: 32px;
  }

  .xl\:mt-\[80px\] {
    margin-top: 80px;
  }

  .xl\:block {
    display: block;
  }

  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .xl\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .xl\:px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.bg-fuchsia-800 {
  background-color: #86198f;
}

border-fuchsia-800 {
  border-color: #86198f;
}

.hover\:bg-fuchsia-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(192 38 211 / var(--tw-bg-opacity));
}

.bg-\[\#00003A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 58 / var(--tw-bg-opacity));
}

.max-w-\[750px\] {
  max-width: 750px;
}

.text-justify {
  text-align: justify;
}

.text-justify-narrow {
  text-align: justify;
  hyphens: auto;
}

.min-h-\[342px\] {
  min-height: 342px;
}

@media (min-width: 1536px) {
  .\32xl\:my-12 {
    margin-top: 3rem /* 64px */;
    margin-bottom: 3rem /* 64px */;
  }
}

.min-h-screen {
  min-height: 100vh;
}

.hover\:text-blue-600:hover {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity)) /* #2563eb */;
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity)) /* #3b82f6 */;
}

.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity)) /* #1d4ed8 */;
}

.h-60 {
  height: 15rem /* 240px */;
}

