.gd-title {
  background: linear-gradient(
    104.04deg,
    #1472ff -4%,
    #47a9ff 23%,
    #adc3ff 50%,
    #e5dccb 77%,
    #f5ba47 104%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: fit-content;
}
@keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.animate-slides {
  animation: slides 30s infinite linear;
}
.hero-brand {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 25%,
    rgb(0, 0, 0) 75%,
    rgba(0, 0, 0, 0) 100%
  );
}
.hero-brand:hover .animate-slides {
  animation-play-state: paused;
}
.b-active {
  background-image: linear-gradient(
    180deg,
    rgba(152, 161, 174, 0.08) 0%,
    rgba(152, 161, 174, 0.08) 0.01%,
    rgba(20, 114, 255, 0) 100%
  );
  border: 1px solid #98a1ae14;
  color: #47a9ff;
}
@media screen and (max-width: 991px) {
  .hero-brand .inline-flex.logo_items.animate-slides:first-child {
    display: none;
  }
}

.text-grad {
  background: linear-gradient(104.04deg, #6867e8, #e13c3e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: fit-content;
}

.text-grad-angled {
  background: linear-gradient(
    to right,

    #6867e8,
    #e13c3e 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: fit-content;
}


.container-white {
  width: 100%;
  min-height: 100vh;
  padding-inline: 8vw;
}

.headerLogo {
  height: 78px ;
}
